/PlanetaryExplorationLogs.API/PlanetaryExplorationLogs.API/obj/
/PlanetaryExplorationLogs.API/PlanetaryExplorationLogs.API/bin/
/PlanetaryExplorationLogs.API/.idea/
/PlanetaryExplorationLogs.API/PlanetaryExplorationLogs.API.sln.DotSettings.user
